<div class="container">
  <div class="row clearfix">

    <div class="col-md-3">
      <a href="">Logo 1
        <img id="unb-footer-logo" class="footer-logo center-block"
        src="/themes/custom/emmr_lib_unb_ca/images/">
      </a>
    </div>

    <div class="col-md-3">
      <a href="">Logo 2
        <img id="dalhousie-footer-logo" class="footer-logo center-block"
        src="/themes/custom/emmr_lib_unb_ca/images/">
      </a>
    </div>

    <div class="col-md-6">
      <a href="">Logo 3
        <img id="sshrc-footer-logo" class="footer-logo center-block"
        src="/themes/custom/emmr_lib_unb_ca/images/">
      </a>
    </div>
  </div>
</div>

{% if content %}
<div id="{{ id }}-wrapper"><footer id="{{ id }}" class="row" role="contentinfo">
  <div{{ attributes }}>
    {{ content }}
  </div>
</footer><div><!-- /#{{ id }}, /#{{ id }}-wrapper -->
{% endif %}
